@import url('https://fonts.googleapis.com/css?family=Cinzel');

*{
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(9, 16, 31) !important;
}

.test{
  background-color: red;
  width: 50px;
  height: 50px;
}





.main-navigation-bar{
  width: 100%;
  height: 70px;
  border-bottom-style: solid;
  border-color: rgba(80,80,80,50);
  border-width: 0.5px;
}
.nav-icon{
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  height: 50px;
  width: 60px;
  border-style: solid;
  border-color: rgb(110, 96, 24);
  border-width: 0.8px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 35%;
}
.nav-icon:hover{
  box-shadow: 1px -1px 75px 2px rgba(83, 144, 218, 0.75);
  border-width: 2px;
}
.nav-icon:active{
  background-color: rgba(83, 144, 218, 0.389);
  border-width: 2px;
}
.store{
  background-image: url(../src/assets/images/store_icon.png);
}
.home{
  background-image: url(../src/assets/images/home_icon.png);
  background-size: 50%;
}
.logout{
  background-image: url(../src/assets/images/logout_icon.png);
  background-size: 70%;
}
.nav-logo{
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: rgb(110, 96, 24);
  border-width: 0.8px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.one{
  background-image: url(../src/assets/images/1.jpeg);
}
.two{
  background-image: url(../src/assets/images/2.jpeg);
}
.three{
  background-image: url(../src/assets/images/3.jpeg);
}
.four{
  background-image: url(../src/assets/images/4.jpeg);
}
.five{
  background-image: url(../src/assets/images/5.jpeg);
}
.six{
  background-image: url(../src/assets/images/6.jpeg);
}
.seven{
  background-image: url(../src/assets/images/7.jpeg);
}
.eight{
  background-image: url(../src/assets/images/8.jpeg);
}
.nine{
  background-image: url(../src/assets/images/9.jpeg);
}
.ten{
  background-image: url(../src/assets/images/10.jpeg);
}
.eleven{
  background-image: url(../src/assets/images/11.jpeg);
}
.twelve{
  background-image: url(../src/assets/images/12.jpeg);
}
.thirteen{
  background-image: url(../src/assets/images/13.jpeg);
}
.fourteen{
  background-image: url(../src/assets/images/14.jpeg);
}
.fifteen{
  background-image: url(../src/assets/images/15.jpeg);
}
.sixteen{
  background-image: url(../src/assets/images/16.jpeg);
}
.seventeen{
  background-image: url(../src/assets/images/17.jpeg);
}
.eighteen{
  background-image: url(../src/assets/images/18.jpeg);
}
.nineteen{
  background-image: url(../src/assets/images/19.jpeg);
}
.twenty{
  background-image: url(../src/assets/images/20.jpeg);
}
.twentyone{
  background-image: url(../src/assets/images/21.jpeg);
}
.twentytwo{
  background-image: url(../src/assets/images/22.jpeg);
}
.twentythree{
  background-image: url(../src/assets/images/23.jpeg);
}
.twentyfour{
  background-image: url(../src/assets/images/24.jpeg);
}






/* To be redone after bootstrap setup */
.login-background{
  width: 100%;
  height: 100vh;
  background-image: url(./assets/images/background.jpeg);
  background-size: 100%;
  background-position: center -80px;
  background-repeat: no-repeat;
}
.login-background-filter{
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(9, 16, 31,1) 0%, rgba(9, 16, 31,1) 15%, rgba(9, 16, 31,0.43883490896358546) 100%);
  padding: 70px;
}
.main-login-content{
  background-color: rgb(18, 30, 56);
  width: 600px;
  height: 40vh;
  margin: auto;
  margin-top: 20vh;
  border-style: solid;
  border-color: rgb(110, 96, 24);
  box-shadow: 1px -1px 75px 2px rgba(83, 144, 218, 0.75);
}
.login-forum{
  width: 100%;
  height: 30vh;
  margin-bottom: 10px;
}
.login-input-area{
  margin: auto;
  width: 185px;
  padding-top: 120px;
}
.login-input{
  border-style: solid;
  border-color: rgb(110, 96, 24);
  color:rgb(110, 96, 24);
  background-color: rgb(9, 16, 31);
  margin: auto;
  text-align: center;
  margin-bottom: 60px;
}
.login-input:focus{
  border-style: solid;
  border-color: rgb(110, 96, 24);
}
.login-button{
  height: 30px;
  width: 140px;
  background-color: rgb(195, 168, 35);
  border-style: solid;
  border-color: rgb(110, 96, 24);
  text-align: center;
  margin: auto;
}



.main{
  width: 100%;
  height: 300px;
  text-align: center;
  background-image: url(./assets/images/SummonersRift.jpeg);
  background-size: 100%;
  background-position: center -100px;
  background-repeat: no-repeat;
}
.main-background-filter{
  width: 100%;
  height: 100%;
  background: rgb(9, 16, 31);
  background: linear-gradient(0deg, rgba(9, 16, 31,1) 0%, rgba(9, 16, 31,1) 50%, rgba(0,0,0,0.43) 100%);
  padding-top: 100px;
}
.page-content{
  overflow: hidden;
}
.card-holder{
  width: 100%;
  height: 470px;
}
.scroll-horizontal{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 100px;
  padding-left: 10px;
  margin-top: -100px;
  margin-bottom: -100px;

}
.main-card{
  height: 300px;
  width: 200px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(110, 96, 24);
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  color: white;
  display: inline-block;
}
.main-card:hover{
  box-shadow: 1px -1px 75px 2px rgba(83, 144, 218, 0.75);
  border-width: 3px;
}
.main-card:active{
  background-color: rgba(83, 144, 218, 0.389);
  border-width: 4px;
}







.card-border-style{
  width: 100%;
  height: 100%;
  padding: 10px;
  border-style: groove;
  border-width: 1px;
  border-color: rgb(110, 96, 24);
}
.card-block-style{
  width: 70px;
  height: 10px;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(110, 96, 24);
}
.card-block-style-top{
  margin-top: -15px;
  margin-bottom: 5px;
}
.card-block-style-bottom{
  margin-top: 5px;
  margin-bottom: -15px;
}
.card-block-style-left-top-tip{
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: rgb(110, 96, 24);
  margin: auto;
  margin-left: -22px;
  margin-top: -175px;
  width: 10px;
  height: 10px;
  transform: rotate(315deg);
}
.card-block-style-left{
  height: 200px;
  border-color: rgb(110, 96, 24);
  border-style: solid;
  border-width: 0px;
  border-left-width: 1px;
  margin-left: -24px;
  margin-top: -5px;
  margin-bottom: -20px;
}
.card-block-style-left-bottom-tip{
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  border-color: rgb(110, 96, 24);
  margin: auto;
  margin-left: -22px;
  margin-top: 15px;
  margin-bottom: -30px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.card-block-style-right-top-tip{
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: rgb(110, 96, 24);
  margin: auto;
  margin-right: -22px;
  margin-top: 20px;
  margin-bottom: -25px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}
.card-block-style-right{
  height: 200px;
  border-color: rgb(110, 96, 24);
  border-style: solid;
  border-width: 0px;
  border-right-width: 1px;
  margin-right: -24px;
  margin-top: 20px;
  margin-bottom: -220px;
}
.card-block-style-right-bottom-tip{
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  border-color: rgb(110, 96, 24);
  margin: auto;
  margin-right: -22px;
  margin-top: 215px;
  margin-bottom: -230px;
  width: 10px;
  height: 10px;
  transform: rotate(315deg);
}








.card-product-image{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(110, 96, 24);
  height: 70%;
  background-image: url(./assets/images/example.jpeg);
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
}
.card-product-name{
  font-size: 12px;
}
.card-product-style{
  width: 137px;
  height: 137px;
  transform: rotate(45deg);
  margin: auto;
  margin-top: 10px;
  border-style: dotted;
  border-width: 1px;
  border-color: rgb(110, 96, 24);
}
.card-product-style-bottom{
  width: 137px;
  height: 137px;
  transform: rotate(45deg);
  margin: auto;
  margin-top: -32px;
  border-style: dotted;
  border-width: 1px;
  border-color: rgb(110, 96, 24);
}
.card-product-stock{
  margin-top: -15px;
  font-size: 10px;
  color: greenyellow;
}
.stock-colour-high{
  margin-top: -15px;
  font-size: 10px;
  color: greenyellow;
}
.stock-colour-medium{
  margin-top: -15px;
  font-size: 10px;
  color: rgb(238, 255, 47);
}
.stock-colour-low{
  margin-top: -15px;
  font-size: 10px;
  color: rgb(255, 99, 47);
}




.main-product-content{
  width: 100%;
  height: 100vh;
  padding: 10px;
  color: white;
}
.product-head{
  width: 100%;
  height: 60vh;
  padding: 20px;
}
.product-pictures{
  width: 600px;
  height: 450px;
  margin-left: 40px;
  margin-right: 40px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(110, 96, 24);
  float: left;
  background-image: url(./assets/images/example.jpeg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.product-description{
  padding: 20px;
}
.product-info-section{
  width: 900px;
  height: 100%;
  float: left;
  margin-left: 100px;
  padding: 5px;
}
.product-info{
  width: 100%;
  height: 50%;
}
.product-quantity-selector-section{
  width: 40%;
  height: 80px;
  margin: auto;
  margin-top: 100px;
}
.product-quantity-button{
  width: 80px;
  height: 80px;
  border-style: solid;
  border-width: 1.5px;
  border-color: rgb(110, 96, 24);
  text-align: center;
  padding-top: 15px;
}
.product-quantity-button:hover{
  box-shadow: 1px -1px 75px 2px rgba(83, 144, 218, 0.75);
  border-width: 2px;
  cursor: pointer;
}
.product-quantity-minus{
  float: left;
  margin-right: 60px;
  margin-top: -20px;
}
.product-quantity-plus{
  float: right;
  margin-top: -61px;
}
.stock-display{
  color: grey;
}
.add-to-cart-button{
  width: 290px;
  height: 50px;
  margin-left: 680px;
  text-align: center;
  padding-top: 10px;
  border-style: solid;
  border-width: 1.5px;
  border-color: rgb(110, 96, 24);
}
.add-to-cart-button:hover{
  box-shadow: 1px -1px 75px 2px rgba(83, 144, 218, 0.75);
  border-width: 2px;
  cursor: pointer;
}
.add-to-cart-button:active{
  background-color: rgba(83, 144, 218, 0.75);
}















.prologue{
  color: white;
  font-size: 10px;
}
.heading-text{
  color: white;
  font-family: 'Cinzel';
}
.text-postioning{
  margin-left: 35px;
  margin-bottom: 40px;
}
.sub-heading-text{
  color: rgb(195, 168, 35);
  font-size: 18px;
  font-family: 'Cinzel';
}












.store-main-content{
  width: 100%;
  height: 100vh;
  padding: 20px;
}













.cart-tab{
  position: fixed;
  z-index: 0;
  width: 50px;
  height: 100px;
  right: 0;
  top: 0;
  margin-top: 200px;
}
.cart-bumper{
  background-color: rgb(9, 16, 31);
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1.5px;
  border-color: rgb(110, 96, 24);
  background-image: url(../src/assets/images/cart_tab.png);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;

}
.cart-bumper:hover{
  cursor: pointer;
}














.main-cart{
  font-size: 12px;
  font-family: 'Cinzel';
  color: rgb(110, 96, 24);
  background-color: rgb(9, 16, 31);
  width: 400px;
  height: 500px;
  float: right ;
  margin-top: -800px;
  border-style: solid;
  border-width: 1.5px;
  border-color: rgb(110, 96, 24);
  padding: 5px;
  position: fixed;
  z-index: 1;
  right: 0;
  margin-top: -600px;
}
.cart-border-style{
  width: 100%;
  height: 100%;
  float: right ;
  margin-top: -300px;
  border-style: dotted;
  border-width: 1.5px;
  border-color: rgb(110, 96, 24);
  padding: 5px;
  position: relative;
  background-color: rgb(9, 16, 31);
  z-index: 2;
}
.cart-title-table{
  width: 100%;
  height: 30px;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 0.5px;
  border-color: rgb(110, 96, 24);
  padding: 5px;
}
.cart-title-product-name{
  height: 100%;
  width: 60%;
  float: left;
  border-style: solid;
  border-width: 0px;
  border-right-width: 0.5px;
  border-color: rgb(110, 96, 24);
  text-align: center;
}
.cart-title-product-amount{
  height: 100%;
  width: 15%;
  float: left;
  border-style: solid;
  border-width: 0px;
  border-right-width: 0.5px;
  border-color: rgb(110, 96, 24);
  text-align: center;
}
.cart-title-product-price{
  height: 100%;
  width: 25%;
  float: left;
  text-align: center;
}
.cart-finish-section{
  width: 375px;
  height: 80px;
  position: absolute;
  bottom: 0;
}
.cart-checkout-button{
  width: 120px;
  height: 35px;
  text-align: center;
  padding-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(9, 16, 31);
  background-color: rgb(110, 96, 24);
  position: absolute;
  bottom: 0;
  right: 0;
}
.cart-checkout-button:hover{
  cursor: pointer;
  color: white;
  background-color: rgb(150, 136, 64);
}
.cart-edit-button{
  width: 80px;
  height: 35px;
  text-align: center;
  padding-top: 8px;
  border-style: solid;
  border-width: 1.5px;
  border-color: rgb(110, 96, 24);
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 140px;
}
.cart-edit-button:hover{
  cursor: pointer;
  color: white;
  border-color: rgb(150, 136, 64);
}
.total-cost{
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1.5px;
  border-color: rgb(110, 96, 24);
  width: 150px;
  height: 30px;
  float: right;
  margin-right: 10px;
  text-align: center;
  padding-top: 7px;
}
.cart-content{
  padding: 5px;
  overflow-y: scroll;
  width: 100%;
  height: 80%;
}
.main-cart-item{
  padding: 6px;
  width: 100%;
  height: 50px;
  border-style: solid;
  border-width: 1.5px;
  border-color: rgb(110, 96, 24);
  color: rgb(110, 96, 24);
  text-align: center;
  margin-top: 5px;
}
.main-cart-item:hover{
  background-color: rgb(110, 96, 24);
  border-width: 0px;
  color: rgb(9, 16, 31);
}
.cart-item-product-name{
  height: 100%;
  width: 60%;
  float: left;
  border-style: dotted;
  border-width: 0px;
  border-right-width: 0.5px;
  border-color: rgb(110, 96, 24);
  padding-top: 10px;
  position: relative;
  z-index: 2;
}
.cart-item-delete-icon{
  background-image: url(../src/assets/images/delete_icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  height: 30px;
  width: 30px;
  float: left;
  margin-top: -8px;
  border-style: solid;
  border-width: 0.5px;
  border-right-width: 0.5px;
  border-color: rgb(110, 96, 24);
  background-color: rgb(9, 16, 31);
  display: none;
}
.cart-item-delete-icon:hover{
  cursor: pointer;
}
.cart-item-quantity{
  height: 100%;
  width: 16%;
  float: left;
  border-style: dotted;
  border-width: 0px;
  border-right-width: 0.5px;
  border-color: rgb(110, 96, 24);
  padding-top: 10px;
  position: relative;
  z-index: 2;
}
.cart-item-price{
  height: 100%;
  width: 24%;
  float: left;
  padding-top: 10px;
  position: relative;
  z-index: 2;
}
.edit-cart-item{
  background-color: pink;
  width: 10px;
  height: 100%;
  margin-left: -12px;
  position: relative;
  z-index: 1;
}







.cart-collapse-tab-button-top{
  background-color: rgb(9, 16, 31);
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  margin-top: 200px;
  margin-left: -31px;
  border-style: solid;
  border-width: 0px;
  border-left-width: 1.5px;
  border-color: rgb(110, 96, 24);
}
.cart-collapse-tab-button-center{
  background-color: rgb(9, 16, 31);
  width: 80px;
  height: 50px;
  margin-top: -25px;
  margin-left: -41px;
  padding-top: 10px;
  border-style: solid;
  border-width: 0px;
  border-left-width: 1.5px;
  border-color: rgb(110, 96, 24);
  position: relative;
  z-index: 1;
}
.cart-collapse-tab-button-center:hover{
  cursor: pointer;
}
.cart-collapse-tab-button-bottom{
  background-color: rgb(9, 16, 31);
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  margin-top: -25px;
  margin-left: -31px;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1.5px;
  border-right-width: 0px;
  border-color: rgb(110, 96, 24);
  position: relative;
  z-index: 0;
}
.cart-icon{
  background-image: url(../src/assets/images/cart.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  width: 25px;
  height: 25px;
  margin-left: -2px;
}
.cart-tab-icon{
  background-image: url(../src/assets/images/cart_tab2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  width: 15px;
  height: 60px;
  margin-top: -40px;
  margin-left: 22px;
}








.hidden{
  display: none;
}


.new-item{
  font-size: 9px;
  margin-top: -10px;
  color: gold;
  font-style: italic;
  font-weight: bolder;
  margin-top: -40px;
}

.card-block-price{
  margin-top: -10px;
}








.bronze{
  background-image: url(../src/assets/images/bronze_t.jpeg);
}
.plat{
  background-image: url(../src/assets/images/plat_t_blue.jpg);
}
.logo{
  background-image: url(../src/assets/images/logo_white.jpeg);
}
.quest{
  background-image: url(../src/assets/images/question.jpeg);
}
.diamond{
  background-image: url(../src/assets/images/diamond_hood.png);
}
.challenger{
  background-image: url(../src/assets/images/chal_t.jpeg);
} 




.find-it{
  background-color: pink;
  width: 100px;
  height: 100px;
}



.start{
  background-size: 120%;
  margin-left: 12px;
  margin-top: -30px;
}



.easter-egg{
  background-color: rgb(9, 16, 31);
  border-color: rgb(110, 96, 24);
  border-style: solid;
  border-width: 0.2px;
  width: 10px;
  height: 10px;
  float: right;
  color: rgb(110, 96, 24);
  font-size: 6px;
  text-align: center;
}
.secret-picture{
  background-image: url(../src/assets/images/secret.png);
  width: 600px;
  height: 400px;
  margin-left: 40px;
  margin-right: 40px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(110, 96, 24);
  float: left;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.secret-hide{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.43);
  backdrop-filter: blur(7px);
  color: yellow;
  text-align: center;
  padding-top: 150px;
  font-size: 40px;
  font-family: 'Cinzel';
  font-weight: 900;
}